# 클러스터 내부 > pod 고정 IP/이름 > Ingress가 Service로 트래픽 넘김
apiVersion: v1
kind: Service
metadata:
  name: frontend-svc
  namespace: app
spec:
  type: ClusterIP
  selector:
    app: frontend
  ports:
    - name: http
      port: 80
      targetPort: 80
